
.vs/Syringe/FileContentIndex/95c475e6-3a44-4817-a2b8-cee56e0a3104.vsidx
.vs/Syringe/v16/.suo
.vs/Syringe/v16/Browse.VC.db
.vs/Syringe/v16/ipch/AutoPCH/3f41cac601b28f04/PORTABLEEXECUTABLE.ipch
.vs/Syringe/v16/ipch/AutoPCH/3f5c2ab7e5e6b3fc/CRC32.ipch
.vs/Syringe/v16/ipch/AutoPCH/4756e9066b204a2a/MAIN.ipch
.vs/Syringe/v16/ipch/AutoPCH/aae280203574899/LOG.ipch
.vs/Syringe/v16/ipch/AutoPCH/d1d3b5ca510abcc5/SYRINGEDEBUGGER.ipch
.vs/Syringe/v17/.suo
.vs/Syringe/v17/Browse.VC.db
.vs/Syringe/v17/DocumentLayout.json
.vs/Syringe/v17/ipch/AutoPCH/d1d3b5ca510abcc5/SYRINGEDEBUGGER.ipch
.vs/Syringe/v17/Solution.VC.db
Release/CRC32.obj
Release/Debugger.log
Release/Debugger.pdb
Release/Log.obj
Release/Main.obj
Release/microsoft/STL/std.compat.ixx.ifc.dt.d.json
Release/microsoft/STL/std.compat.ixx.ifc.dt.module.json
Release/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
Release/microsoft/STL/std.ixx.ifc.dt.d.json
Release/microsoft/STL/std.ixx.ifc.dt.module.json
Release/microsoft/STL/std.ixx.ifc.dt.module.json.command
Release/PortableExecutable.obj
Release/Syringe.exe
Release/Syringe.tlog/CL.command.1.tlog
Release/Syringe.tlog/CL.read.1.tlog
Release/Syringe.tlog/CL.write.1.tlog
Release/Syringe.tlog/link.command.1.tlog
Release/Syringe.tlog/link.read.1.tlog
Release/Syringe.tlog/link.write.1.tlog
Release/Syringe.tlog/rc.command.1.tlog
Release/Syringe.tlog/rc.read.1.tlog
Release/Syringe.tlog/rc.write.1.tlog
Release/Syringe.tlog/Syringe.lastbuildstate
Release/SyringeDebugger.obj
Release/vc141.idb
Release/vc141.pdb
